{% extends "dashboard/master.html" %}
{% from "macro/pagination.html" import m_pagination %}

{% block title %} {{ _('Index') }} {{ _('task') }} {% endblock%}

{% block content %}
<a class="btn btn-success" href="{{ url_for('tasks.create',) }}">{{ _('Create') }}</a>
<table class="table">
    <thead>
        <tr>
            <th>
                {{ _('ID') }}
            </th>
            <th>
                {{ _('Name') }}
            </th>
            <th>
                {{ _('Options') }}
            </th>
        </tr>
    </thead>
    {% for t in tasks.items %}
    <tbody>
        <tr>
            <td>{{t.id}}</td>
            <td>{{t.name}}</td>
            <td>
                {% if session['user']['roles'].find('SAVE_TASK') >= 0 %}
                    <a class="btn btn-secondary btn-sm" href="{{ url_for('tasks.update',id=t.id) }}">{{ _('Edit') }}</a>
                    <a class="btn btn-danger btn-sm" href="{{ url_for('tasks.delete',id=t.id) }}">{{ _('Delete') }}</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
    {% endfor %}

</table>

{{ m_pagination(tasks) }}

{% endblock %}