<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - Flask</title>
</head>

<body>

    <!-- flash 
    {# with messages = get_flashed_messages(with_categories=true, category_filter=['info']) #}
    -->
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <!-- body -->
    <div>
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
        <p>Dashboard task</p>
    {% endblock %}

</body>

</html>