{% extends "dashboard/master.html" %}

{% block title %} Index task {% endblock%}

{% block content %}
    <a href="{{ url_for('tasks.create',) }}" >Create</a>
    <ul>
        {% for t in tasks %}
            <li>{{t}}</li>
            <!-- <li><a href="/tasks/update/{{ loop.index0 }}" >Edit</a></li> -->
            <li><a href="{{ url_for('tasks.update',id=loop.index0) }}" >Edit</a></li>
            <li><a href="{{ url_for('tasks.delete',id=loop.index0) }}" >Delete</a></li>
        {% endfor %}
    </ul>
{% endblock %}