<form method="post" action="{{ url_for('auth.changePassword') }}">
   {{ changeUserPasswordForm.csrf_token }}

   {{ changeUserPasswordForm.password.label(class='form-label mt-2') }}
   {{ changeUserPasswordForm.password(class='form-control') }}

   {{ changeUserPasswordForm.confirm.label(class='form-label mt-2') }}
   {{ changeUserPasswordForm.confirm(class='form-control') }}

   <div class="d-grid my-3">
      <button type="submit" class="btn btn-success btn-block">{{_('Send')}}</button>
   </div>
</form>